body {
	font-family: Georgia, sans-seriff, Helvetica, Calibri;
	background-color: #F7E3E3;
	overflow: auto;
}


#fixed-bar { 
	display: flex;
	position: fixed;
	top: 0; left: 0; right: 0;
	height: 5vh;
	background-color: #555;
	z-index: 1;
}

#fixed-bar h1 { 
	margin: auto;
	font-size: 14px;
	letter-spacing: 3px;
	color: #F7E3E3;
	 
}

.sidenav {
	float: left;
	height: 100%;
	width: 20vw;
	position: fixed;
	top: 0; left: 0;
	background-color: #DABDB0;
	overflow: auto;
	padding: 10px 8px 4px 6px;
	margin-top: 5vh;
	z-index: 0;
}


.sidenav a {
	padding: 4px;
	text-decoration: none;
	font-size: 11px;
	color: #111;
	font-weight: 470;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover { color: #111; }

.sidenav header { 
	text-align: center;
	font-size: 11px; 
	font-weight: 550;
}

#sections-div {
	margin-top: 5vh;
	margin-left: 20vw;
	padding: 10px 15px 10px 15px;
	overflow-x: hidden;
}

#sections-div header { font-size: 14px; font-weight: 600; }

#sections-div p { font-size: 13px; }

#section-div ul { font-size: 11px; }

.code-div { overflow-x: auto; }

@media only screen and (min-width: 601px) and (max-width: 900px) {
	#fixed-bar { height: 7vh; }

	#fixed-bar h1 { font-size: 22px; letter-spacing: 5px; }

	.sidenav {
		width: 25vw;
		margin-top: 7vh;
	}

	.sidenav header { font-size: 18px; }

	.sidenav a { font-size: 17px; padding: 7px;}

	#sections-div {
		margin-top: 7vh;
		margin-left: 25vw;
		padding: 15px 30px 25px 30px;
		overflow-x: hidden;
	}

	#sections-div p { font-size: 18px; }

	#sections-div header { font-size: 18px; }
}

